body    {
    background-color: #EBEBEB;
}

h1  {
    margin: 0;
}

.site-container {
    background-color: #FFFFFF;
    margin: 0 auto;
    max-width: 1170px;
    padding: 30px 30px;
}
.burger {
    background-color: #333;
    height: 38px;
    width: 38px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 20px;
    
    &:before    {
        background-color: #FFFFFF;
        font-family: FontAwesome;
        text-align: center;
        font-size: 15px;
        line-height: 19px;
        content: '\f0c9';
        color: #000000;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 18px;
        height: 18px;
    }
}