.scroller   {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0px 30px;
    position: relative;
}

.burger {
    background-color: #333;
    height: 30px;
    width: 30px;
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
}